@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project1.Models.NewDate

    <form asp-action="ViewTimes" method="post">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Week of January 1-7</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
                <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 08:00 PM" /><button type="submit">Sign Up</button></li>

            </ul>
        </div>


    </form>



