@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project1.Models.NewDate

@*Option one*@
@*<form asp-action="ViewTimes" method="post">
    <div class="card" style="width: 18rem;">
        <h5 class="card-title">Week of January 1-7</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 08:00 AM" /><button type="submit">Sign Up</button></li>


        </ul>
    </div>


</form>
<form asp-action="ViewTimes" method="post">
    <div class="card" style="width: 18rem;">
        <h5 class="card-title">Week of January 1-7</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 09:00 AM" /><button type="submit">Sign Up</button></li>
        </ul>
    </div>


</form>*@

@*Option 2*@
<form asp-action="ViewTimes" method="post">
    <div class="card" style="width: 18rem;">
        <h5 class="card-title">Week of January 1-7</h5>
        <select asp-for="newAptDate" class="list-group list-group-flush">
            <option readonly type="text" value="01/01/2021 08:00 AM">Monday 08:00 AM</option>
            <option readonly type="text" value="01/01/2021 09:00 AM">Monday 09:00 AM</option>
            <option readonly type="text" value="01/01/2021 08:00 AM">Monday 10:00 AM</option>
            <option readonly type="text" value="01/01/2021 09:00 AM">Monday 11:00 AM</option>
            <option readonly type="text" value="01/01/2021 08:00 AM">Monday 12:00 PM</option>
            <option readonly type="text" value="01/01/2021 09:00 AM">Monday 01:00 PM</option>
            <option readonly type="text" value="01/01/2021 08:00 AM">Monday 02:00 PM</option>
            <option readonly type="text" value="01/01/2021 09:00 AM">Monday 03:00 PM</option>
            <option readonly type="text" value="01/01/2021 08:00 AM">Monday 04:00 PM</option>
            <option readonly type="text" value="01/01/2021 09:00 AM">Monday 05:00 PM</option>
            <option readonly type="text" value="01/01/2021 08:00 AM">Monday 06:00 PM</option>
            <option readonly type="text" value="01/01/2021 09:00 AM">Monday 07:00 PM</option>
            <option readonly type="text" value="01/01/2021 08:00 AM">Monday 08:00 PM</option>

            <option readonly type="text" value="01/02/2021 08:00 AM">Tuesday 08:00 AM</option>
            <option readonly type="text" value="01/02/2021 09:00 AM">Tuesday 09:00 AM</option>
            <option readonly type="text" value="01/02/2021 08:00 AM">Tuesday 10:00 AM</option>
            <option readonly type="text" value="01/02/2021 09:00 AM">Tuesday 11:00 AM</option>
            <option readonly type="text" value="01/02/2021 08:00 AM">Tuesday 12:00 PM</option>
            <option readonly type="text" value="01/02/2021 09:00 AM">Tuesday 01:00 PM</option>
            <option readonly type="text" value="01/02/2021 08:00 AM">Tuesday 02:00 PM</option>
            <option readonly type="text" value="01/02/2021 09:00 AM">Tuesday 03:00 PM</option>
            <option readonly type="text" value="01/02/2021 08:00 AM">Tuesday 04:00 PM</option>
            <option readonly type="text" value="01/02/2021 09:00 AM">Tuesday 05:00 PM</option>
            <option readonly type="text" value="01/02/2021 08:00 AM">Tuesday 06:00 PM</option>
            <option readonly type="text" value="01/02/2021 09:00 AM">Tuesday 07:00 PM</option>
            <option readonly type="text" value="01/02/2021 08:00 AM">Tuesday 08:00 PM</option>

            <option readonly type="text" value="01/03/2021 08:00 AM">Wednesday 08:00 AM</option>
            <option readonly type="text" value="01/03/2021 09:00 AM">Wednesday 09:00 AM</option>
            <option readonly type="text" value="01/03/2021 08:00 AM">Wednesday 10:00 AM</option>
            <option readonly type="text" value="01/03/2021 09:00 AM">Wednesday 11:00 AM</option>
            <option readonly type="text" value="01/03/2021 08:00 AM">Wednesday 12:00 PM</option>
            <option readonly type="text" value="01/03/2021 09:00 AM">Wednesday 01:00 PM</option>
            <option readonly type="text" value="01/03/2021 08:00 AM">Wednesday 02:00 PM</option>
            <option readonly type="text" value="01/03/2021 09:00 AM">Wednesday 03:00 PM</option>
            <option readonly type="text" value="01/03/2021 08:00 AM">Wednesday 04:00 PM</option>
            <option readonly type="text" value="01/03/2021 09:00 AM">Wednesday 05:00 PM</option>
            <option readonly type="text" value="01/03/2021 08:00 AM">Wednesday 06:00 PM</option>
            <option readonly type="text" value="01/03/2021 09:00 AM">Wednesday 07:00 PM</option>
            <option readonly type="text" value="01/03/2021 08:00 AM">Wednesday 08:00 PM</option>

            <option readonly type="text" value="01/04/2021 08:00 AM">Thursday 08:00 AM</option>
            <option readonly type="text" value="01/04/2021 09:00 AM">Thursday 09:00 AM</option>
            <option readonly type="text" value="01/04/2021 08:00 AM">Thursday 10:00 AM</option>
            <option readonly type="text" value="01/04/2021 09:00 AM">Thursday 11:00 AM</option>
            <option readonly type="text" value="01/04/2021 08:00 AM">Thursday 12:00 PM</option>
            <option readonly type="text" value="01/04/2021 09:00 AM">Thursday 01:00 PM</option>
            <option readonly type="text" value="01/04/2021 08:00 AM">Thursday 02:00 PM</option>
            <option readonly type="text" value="01/04/2021 09:00 AM">Thursday 03:00 PM</option>
            <option readonly type="text" value="01/04/2021 08:00 AM">Thursday 04:00 PM</option>
            <option readonly type="text" value="01/04/2021 09:00 AM">Thursday 05:00 PM</option>
            <option readonly type="text" value="01/04/2021 08:00 AM">Thursday 06:00 PM</option>
            <option readonly type="text" value="01/04/2021 09:00 AM">Thursday 07:00 PM</option>
            <option readonly type="text" value="01/04/2021 08:00 AM">Thursday 08:00 PM</option>
        
            <option readonly type="text" value="01/05/2021 08:00 AM">Friday 08:00 AM</option>
            <option readonly type="text" value="01/05/2021 09:00 AM">Friday 09:00 AM</option>
            <option readonly type="text" value="01/05/2021 08:00 AM">Friday 10:00 AM</option>
            <option readonly type="text" value="01/05/2021 09:00 AM">Friday 11:00 AM</option>
            <option readonly type="text" value="01/05/2021 08:00 AM">Friday 12:00 PM</option>
            <option readonly type="text" value="01/05/2021 09:00 AM">Friday 01:00 PM</option>
            <option readonly type="text" value="01/05/2021 08:00 AM">Friday 02:00 PM</option>
            <option readonly type="text" value="01/05/2021 09:00 AM">Friday 03:00 PM</option>
            <option readonly type="text" value="01/05/2021 08:00 AM">Friday 04:00 PM</option>
            <option readonly type="text" value="01/05/2021 09:00 AM">Friday 05:00 PM</option>
            <option readonly type="text" value="01/05/2021 08:00 AM">Friday 06:00 PM</option>
            <option readonly type="text" value="01/05/2021 09:00 AM">Friday 07:00 PM</option>
            <option readonly type="text" value="01/05/2021 08:00 AM">Friday 08:00 PM</option>

            <option readonly type="text" value="01/06/2021 08:00 AM">Saturday 08:00 AM</option>
            <option readonly type="text" value="01/06/2021 09:00 AM">Saturday 09:00 AM</option>
            <option readonly type="text" value="01/06/2021 08:00 AM">Saturday 10:00 AM</option>
            <option readonly type="text" value="01/06/2021 09:00 AM">Saturday 11:00 AM</option>
            <option readonly type="text" value="01/06/2021 08:00 AM">Saturday 12:00 PM</option>
            <option readonly type="text" value="01/06/2021 09:00 AM">Saturday 01:00 PM</option>
            <option readonly type="text" value="01/06/2021 08:00 AM">Saturday 02:00 PM</option>
            <option readonly type="text" value="01/06/2021 09:00 AM">Saturday 03:00 PM</option>
            <option readonly type="text" value="01/06/2021 08:00 AM">Saturday 04:00 PM</option>
            <option readonly type="text" value="01/06/2021 09:00 AM">Saturday 05:00 PM</option>
            <option readonly type="text" value="01/06/2021 08:00 AM">Saturday 06:00 PM</option>
            <option readonly type="text" value="01/06/2021 09:00 AM">Saturday 07:00 PM</option>
            <option readonly type="text" value="01/06/2021 08:00 AM">Saturday 08:00 PM</option>

            <option readonly type="text" value="01/07/2021 08:00 AM">Sunday 08:00 AM</option>
            <option readonly type="text" value="01/07/2021 09:00 AM">Sunday 09:00 AM</option>
            <option readonly type="text" value="01/07/2021 08:00 AM">Sunday 10:00 AM</option>
            <option readonly type="text" value="01/07/2021 09:00 AM">Sunday 11:00 AM</option>
            <option readonly type="text" value="01/07/2021 08:00 AM">Sunday 12:00 PM</option>
            <option readonly type="text" value="01/07/2021 09:00 AM">Sunday 01:00 PM</option>
            <option readonly type="text" value="01/07/2021 08:00 AM">Sunday 02:00 PM</option>
            <option readonly type="text" value="01/07/2021 09:00 AM">Sunday 03:00 PM</option>
            <option readonly type="text" value="01/07/2021 08:00 AM">Sunday 04:00 PM</option>
            <option readonly type="text" value="01/07/2021 09:00 AM">Sunday 05:00 PM</option>
            <option readonly type="text" value="01/07/2021 08:00 AM">Sunday 06:00 PM</option>
            <option readonly type="text" value="01/07/2021 09:00 AM">Sunday 07:00 PM</option>
            <option readonly type="text" value="01/07/2021 08:00 AM">Sunday 08:00 PM</option>
        </select>
        <button type="submit">Sign Up</button>
    </div>
</form>

@*<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/01/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/02/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/03/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/04/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/05/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/06/2021 08:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 08:00 AM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 09:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 10:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 11:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 12:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 01:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 02:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 03:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 04:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 05:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 06:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 07:00 PM" /><button type="submit">Sign Up</button></li>
<li class="list-group-item"><input readonly asp-for="newAptDate" type="text" value="01/07/2021 08:00 PM" /><button type="submit">Sign Up</button></li>*@

